.sell-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.sell-card {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 4px 4px 60px rgba(99, 69, 237, 0.15);
  border-radius: 12px;
  overflow: hidden;
  /* padding: 20px; */
}

.sell-card img {
  width: 100%;
  border-radius: 7px;
  height: 12rem !important;
}

.sell-page {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.description {
  background: #222232;
  padding: 10px;
}

.sell-sc-button {
  width: 100%;
  background: linear-gradient(130.35deg, #6345ed 17.35%, #dc39fc 78.23%);
  border-radius: 19px 19px 19px 19px;
  text-align: center;
}

/* CSS for listing price block */
.listing-price .form-background {
  border-radius: 0px 12px 12px 0px;
  overflow: hidden;
}

.listing-price {
  overflow: hidden;
  background-color: #282c34;
  color: white;
}

.listing-price-box {
  box-shadow: 4px 4px 60px rgba(99, 69, 237, 0.15);
}

/* font-size: 13px;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer; */