.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 5rem;
    
  }

  .card {
    border: 1px solid #ccc;
    padding: 20px;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  .sell-page{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
