.price-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.price-popup {
    background-color: white;
    color: black;
    max-width: 500px;
    padding: 20px;
    box-shadow: 4px 4px 60px rgba(99, 69, 237, 0.15);
    border-radius: 12px;
    overflow: hidden;
}

.price-button {
    border-radius: 19px 19px 19px 19px;
    font-size: 1rem;
}

.price-param {
    font-size: 20px;
}

.price-input {
    background: white;
    border: 2px solid burlywood;
    height: 65px;
    padding: 0 35px;
    border-radius: 7px;
    margin-bottom: 20px;
}